<h1><%= @sport.name %></h1>

<div class="col-md-8">
  <p><% @sport.description %></p>
  <% @sport.teams.each do |t| %>
    <h3><%= link_to t.name, sport_team_path(@sport, t) %></h3>
    <p><%= t.name %></p>
  <% end %>
</div>

<div class="col-md-4">
  <%= link_to "edit sport", edit_sport_path(@sport), class:"btn btn-success" %>
  <%= link_to "delete sport", sport_path(@sport), method: :delete, class:"btn btn-success " %>
  <%= link_to "create team", new_sport_team_path(@sport), class: "btn btn-success" %>
</div>
